<h1>Conversor de moneda</h1>
<h3>Moneda a convertir (Original Euros): <select [(ngModel)]="opcion_seleccionada">
    <option value='USD'>Dolar Estado Unidense (USD)</option>
    <option value='YEN'>Yenes japoneses</option>
    <option value='AUD'>Dolares australianos</option>
</select></h3>
<p>Cantidad: <input type="number" [(ngModel)]="moneda_origen"></p>
<p>Conversión de {{moneda_origen}} EUR a {{moneda_resultado}} {{opcion_seleccionada}}</p>
<button (click)="calcular()">Calcular conversión</button>
